.contactsItem{
    display: flex;
    align-items:center;
    padding: 1em;
    cursor: pointer;
   
    svg{
        font-size: 50px;
    }
    h5{
        font-size: 24px;
        margin-left: 0.5em;
        height: 100%;
        margin-top: 0.2em;
    }
    &:hover{
        background:rgb(31,44,51)
    }
}